body{
    background-color: whitesmoke;
}
.top-bar{
    margin-top: 2px;
    background-color: #97db8d;
    text-align:center;
    font-style: italic;
}


.bar{
    background-color:#61CE70;
    overflow: hidden;
}

.navbar {
    font-size: 1.21rem;
    font-weight: 600;
    letter-spacing: .1rem;
   
}
.programs{
    margin-left: 1rem;
}

.navbar-brand img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 1.5rem;
}

#center{
    margin-left: 1.0rem;
}
#mycarousel{
    margin: 10px auto;
}

.img-responsive{
    height: 150px;
}

.row{
    margin: 5px;

}
.nav-link {
    color: white;
}