{% import 'macros/base.html' as base %}

<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8" />
    <title>CE-sPESS FUTO Center of Excellence</title>
    <base href="http://localhost/center_ex/public/" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" type="image/jpg" href="resources/images/logo.jpg"/>

    <script src="resources/js/bootstrap.min.js" type="application/javascript" defer></script>
    <script src="resources/js/jquery3.js" type="application/javascript" defer></script>
    <script src="resources/js/app.js" type="application/javascript" defer></script>

    <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="resources/css/style.css?cfff" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" /> 
    <link rel="stylesheet" type="text/css" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    
  </head>

  <body>

    <header class="bg-main py-3 px-2">
      <div class="container">
        <div class="d-flex align-items-center">
          <div>
            <img src="resources/images/logo.jpg" alt="Website logo" width="60" height="60" />
          </div>
          <h1 class="mb-0 flex-fill">
            <a href="" class="text-white text-decoration-none fw-bold mx-2 d-none d-sm-inline-block">
              <span class="d-block">CE-sPESS</span>
              <span class="d-block fs-5">FUTO</span>
            </a>
          </h1>
          <nav>
            <a href="#" id="open-nav-drawer-button" class="py-2 px-3 border border-white border-2 bg-transparent text-white rounded d-lg-none">
              <i class="fas fa-bars"></i>
            </a>
            <div id="nav-drawer" class="nav-drawer h-100 w-100 top-0 end-0 end-100">
              <ul class="bg-main h-100 w-75 list-unstyled pb-3 d-lg-flex pb-lg-0">
                <li class="mb-3 text-end d-lg-none">
                  <button id="close-nav-drawer-button" class="border border-0 bg-transparent text-white rounded fs-1 px-2">
                    <i class="fas fa-times"></i>
                  </button>
                </li>
                <li class="px-2 mb-3 mb-lg-0">
                  <div class="position-relative">
                    <a id="open-programmes-button" href="#" class="text-white d-flex p-2 border border-white rounded align-items-center">
                      <span class="flex-fill">{{ 'Programmes'|trans }}</span>
                      <span>
                        <i class="fas fa-angle-down"></i>
                      </span>
                    </a>
                    <ul id="nav-drawer-programmes" class="nav-drawer-programmes bg-main-varient h-0 mt-lg-2">
                      <li>
                        <a href="" class="d-block text-white py-2 pe-4">{{ '_programmes.Procurement_management'|trans }}</a>
                      </li>
                      <li>
                        <a href="" class="d-block text-white py-2 pe-4">{{ '_programmes.Environmental_standards'|trans }}</a>
                      </li>
                      <li>
                        <a href="" class="d-block text-white py-2 pe-4">{{ '_programmes.Social_standards'|trans }}</a>
                      </li>
                    </ul>
                  </div>
                </li>
                {{ base.navLink('About_us', '') }}
                {{ base.navLink('Sign_up', '') }}
                {{ base.navSigninLink('I_m_teaching', '') }}
                {{ base.navSigninLink('I_m_learning', 'student/signin') }}
              </ul>
            </div>
          </nav> 
        </div>
      </div>
    </header>

    <main>
      {% block main %}{% endblock %}
    </main>

    <footer class="position-absolute bottom-0 left-0 bg-main-varient w-100 text-white py-4">
      <div class="container">
        <div>

          <div>
            <div class="fs-3 fw-bold">CE-sPESS</div>
            <div>Centre of Excellence in Sustainable Procurement, Environment and Social Standards.</div>
          </div>

          <div class="row my-4">

            <div class="col-lg-3">
              <h6>Join us</h6>
              <ul>
                {{ base.footerListItem('Sign_up') }}
                {{ base.footerListItem('I_m_learning') }}
                {{ base.footerListItem('I_m_teaching') }}
              </ul>
            </div>

            <div class="col-lg-3">
              <h6>Our programmes</h6>
              <ul>
                {{ base.footerListItem('_programmes.Procurement_management') }}
                {{ base.footerListItem('_programmes.Environmental_standards') }}
                {{ base.footerListItem('_programmes.Social_standards') }}
              </ul>
            </div>
            
            <div class="col-lg-3">
              <h6>Contact us</h6>
              <ul>
                {{ base.footerListItem('Phone: 08037714993') }}
                {{ base.footerListItem('Email: cespess@futo.edu.org') }}
              </ul>
            </div>

            <div class="col-lg-3">
              <h6>Code of conduct</h6>
              <ul>
                {{ base.footerListItem('Terms') }}
                {{ base.footerListItem('Privacy policy') }}
              </ul>
            </div>

          </div>

          <div class="small">Copyright 2021 &copy; All rights reserved.</div>
        </div>
      </div>
    </footer>
        
  </body>
</html>



