
{% extends "base.html" %}
{% import 'macros/index.html' as index %}


{% block main %}
  
  <section class="bg-main-grad">
    <div class="container">
      <div class="row py-5 align-items-center">
        <div class="col-md-8">
          <h2 class="fw-bold fs-1 text-white mb-4">Centre of Excellence in <br /> Sustainable Procurement, Environment and Social Standards.</h2>
          <a href="" class="d-inline-block bg-white text-sub-main px-4 py-3 rounded fw-bold">Enroll now</a>
        </div>
        <div class="d-none d-md-block col-md-4">
          <img src="resources/images/learning-animate.svg" alt="" widtkh="200" height="300" class="d-block w-100" />
        </div>
      </div>
    </div>
  </section>


  <section>
    <div class="container">
      <div class="py-5">
        <h3 class="fw-bold">Programmes</h3>
        <ul class="list-unstyled row justify-content-center align-items-stretch">
          {{ index.programmesListItem('Procurement Management', '', 'procurement.jpg') }}
          {{ index.programmesListItem('Environmental Standards', '', 'environmental.jpg') }}
          {{ index.programmesListItem('Social Standards', '', 'social.jpg') }}
        </ul>
      </div>
    </div>
  </section>

  <section class="bg-main-gradx">
    <div class="container">
      <div class="py-5">
        <h3 class="fw-bold">Learning tracks</h3>
        <ul class="list-unstyled row justify-content-center">
          {{ index.tracksListItem('A', '1 - 3 weeks', '', 'a.jpg') }}
          {{ index.tracksListItem('B', '9 months', '', 'b.jpg') }}
          {{ index.tracksListItem('C', '12 months', '', 'c.jpg') }}
          {{ index.tracksListItem('D', '18 months', '', 'd.jpg') }}
          {{ index.tracksListItem('E', '4 years', '', 'e.jpg') }}
        </ul>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="py-5">
        <h3 class="fw-bold">Our team</h3>
        <ul class="list-unstyled row justify-content-center align-items-stretch">
          {{ index.teamListItem('Professor Gloria Chukwudebe', 'Director CEs-PESS FUTO', '', 'director.jpeg') }}
          {{ index.teamListItem('Prof. (Mrs) B.U. Dike', 'Deputy Director of Procurement Management', '', 'procurement.jpg') }}
          {{ index.teamListItem('Prof Chris Nwoko', 'Deputy Director of Environmental Standards', '', 'environmental.jpg') }}
          {{ index.teamListItem('Prof Gloria N. Okwu', 'Deputy Director of Social Standards', '', 'social.jpg') }}
        </ul>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="py-0">
        <h3 class="fw-bold">Our partners</h3>
        <ul class="list-unstyled d-flex flex-wrap align-items-stretch">
          {{ index.partnersListItem('Federal University of Technology, Owerri', 'futo.jpg') }}
          {{ index.partnersListItem('Nigeria University Coperation', 'nuc.png') }}
          {{ index.partnersListItem('World bank group', 'wbg.jpg') }}
        </ul>
      </div>
    </div>
  </section>
  
{% endblock %}


    