{% extends 'base.html' %}
{% import 'macros/form.html' as form %}

{% block main %}
  <section>
    <div class="container">
      <form action="" method="POST" class="p-4 my-5 shadow rounded bg-white form-main mx-auto">
        
        {{ form.header('Sign in, and continue learning...') }}

        {% set errors = session.getFlash('errors') %}
        {% set values = session.getFlash('values') %}

        {{ form.input('Email', 'email', 'email-input', 'email', values.email, errors.email) }}

        {{ form.input('Password', 'password', 'password-input', 'password', values.password, errors.password) }}

        {{ form.submitButton('Sign in') }}

        {{ form.accountLink('Don\'t have an account?', 'student/signup', 'Sign up') }}
        
      </form>
    </div>
  </section>
{% endblock %}



