{% extends 'base.html' %}

{% block main %}
  <section>
    <div class="container">
      <form action="" method="POST" class="p-4 my-5 shadow rounded bg-white form-main mx-auto">
        <h2 class="fw-bold fs-3 text-main">Sign up, and start learning...</h2>
        <div class="mb-3">
          <label for="fn-input">First name</label>
          <input type="text" name="first_name" class="form-control is-invalid" id="fn-input" />
          <div class="invalid-feedback">We move</div>
        </div>
        <div class="mb-3">
          <label for="ln-input">Last name</label>
          <input type="text" name="last_name" class="form-control" id="ln-input" />
        </div>
        <div class="mb-3">
          <label for="email-input">Email</label>
          <input type="email" name="email" class="form-control" id="email-input" />
        </div>
        <div class="mb-3">
          <label for="password-input">Password</label>
          <input type="password" name="password" class="form-control" id="password-input" />
        </div>
        <div class="mb-3">
          <label for="cpassword-input">Confirm password</label>
          <input type="password" name="confirm_password" class="form-control" id="cpassword-input" />
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary w-100">Sign up</button>
        </div>
        <p>
          <span>Already have an account?</span> 
          <a href="student/signin">Sign in</a>
        </p>
      </form>
    </div>
  </section>
{% endblock %}      


